# Ignore binaries, intermediate, and build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/


# Ignore Visual Studio and Xcode files
.vscode/
.vs/
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore system files
.DS_Store
Thumbs.db
